name: Deploy to Cloudflare

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Wrangler
        run: npm install -g wrangler

      - name: Publish Worker
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          TELEGRAM_TOKEN_ENV: ${{ secrets.TELEGRAM_TOKEN }}
          WEBHOOK_SECRET_ENV: ${{ secrets.WEBHOOK_SECRET }}
        run: wrangler publish
